body {
	margin: 0;
	font-family: 'Lora', serif;
}

img {
	width: 100%;
}

.clearfix {
	clear: both;
}

header {
	background-image: url("../images/main_banner.jpg");
	background-size: cover;
	height: 100vh;
	position: relative;
}

header img {
	width: 300px;
	margin: 10px 0 0 30px;
}

nav {
	position: absolute;
	top: 20px;
	right: 30px;
}
nav ul li {
	float: left;
	margin-left: 20px;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	list-style: none;
}

nav ul li a {
	color: white;
	text-decoration: none;

}

header h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 96px;
	font-weight: 800;
	color: #88EBF2;
	margin: 0;
}

header h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 48px;
	font-weight: 400;
	color: white;
	letter-spacing: 40px;
	margin: 0;
}

#blurb {
	position: absolute;
	bottom: 10px;
	left: 30px;
}

main {
	background-color: #DDD9D8;
}

.section-title {
	text-align: center;
	padding-top: 100px;
	padding-bottom: 50px;
}

.section-title h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	font-weight: 400;
	letter-spacing: 30px;
	margin: 0;
}

#services {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

.card {
	width: 300px;
	float: left;
	margin-left: 30px;
}

.card:first-child {
	margin-left: 0px;
}

.card h4 {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}